@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@300;400;600&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

a, a:hover {
  text-decoration: none;
}

.main-header {
  width: 100vw;
  line-height: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) #0a183d;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) #0a183d;
}

.main-header .navbar-brand {
  color: #fff;
  -webkit-animation: music 1s linear infinite;
          animation: music 1s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.main-header .navbar-brand .fa-music {
  font-size: 4rem;
}

@-webkit-keyframes music {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes music {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

.main-header .navbar-brand:hover {
  -webkit-filter: drop-shadow(0 1.5rem 1rem rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0 1.5rem 1rem rgba(255, 255, 255, 0.5));
}

.main-header .navbar-nav {
  padding-left: 15rem;
}

.main-header .navbar-nav .nav-item .nav-link {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  padding-right: 3rem;
}

.main-header .navbar-nav .nav-item:last-child > .nav-link {
  padding-right: 0%;
}

.main-header .nav-item:hover > .nav-link,
.main-header .navbar-brand:hover,
.main-header .navbar-brand:hover > .fa-music {
  color: #b71540;
}

.main-header .myBtn {
  padding: 0.8rem 3.2rem;
  background-color: #b71540;
  line-height: 3rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}

.main-header .myBtn:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #0a183d;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.music-header {
  width: 100%;
  height: 80vh;
  background: #0a183d;
}

.music-header__text {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.music-header__text h2 {
  color: #fff;
  font-size: 7rem;
  margin-bottom: 3rem;
  line-height: 150%;
  font-weight: 600;
}

.music-header__text h2 span {
  color: #b71540;
  text-transform: capitalize;
}

.music-header__text p {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 5rem;
}

.music-header__text .header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.music-header__text .header-btn a {
  padding: 0.8rem 3.2rem;
  background-color: #b71540;
  line-height: 3rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}

.music-header__text .header-btn a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #0a183d;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.music-header__text #btn_2 {
  margin-left: 2rem;
  background-color: #6a6464;
}

.music-header__text #btn_2:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #0a183d;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.music-header__img {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: animation-music 10s linear infinite alternate;
          animation: animation-music 10s linear infinite alternate;
}

@-webkit-keyframes animation-music {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animation-music {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.music-header__img img {
  -webkit-filter: drop-shadow(0 1rem 1rem rgba(213, 118, 118, 0.4));
          filter: drop-shadow(0 1rem 1rem rgba(213, 118, 118, 0.4));
}

@media (max-width: 991px) {
  .music-header__img {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .main-header {
    line-height: 5rem;
    text-align: center;
    padding: 0 2rem;
  }
  .main-header .navbar-nav {
    padding-left: 3rem;
  }
  .main-header .navbar-nav .nav-item .nav-link {
    padding-right: 0%;
  }
  .music-header__text .header-btn {
    display: block;
    margin: 0 auto;
  }
  .music-header__text .header-btn a {
    display: block;
    text-align: center;
  }
  .music-header__text .header-btn #btn_2 {
    margin-top: 2rem;
    margin-left: 0;
  }
  .music-header__img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */